body {
  margin-top: 51px;
}
.navbar-brand {
padding: 4px 12px;
}
svg {
  width: auto;
  height: 100%;
}
#header1 {
font-weight: 400;
text-transform: capitalize;
margin-bottom: 1%;
}
.service-box {
padding: 0 10px;
}
