#category-tag {
  font-weight: bold;
}
svg {
  width: auto;
  height: 100%;
}
.logo img {
  padding: 6%;
}
#maintenance {
  margin-top: 4rem;
  margin-bottom: 7rem;
}
#maintenance h3 {
font-weight: normal;
}
